<div class="datepicker-wrapper">
    <div class="inner-block">
        <div class="arrow-slider arrow-slider--date">
            <button class="swiper-button-prev" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="true">
            </button>
            <button class="swiper-button-next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="false">
            </button>
        </div>
        <div class="slider-date-wrapper">
            <div class="slider-date swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="datepicker-here"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="date-list">
          <li class="date-list__item">
            <button class="date-list__btn"><span>Сегодня</span></button>
          </li>
          <li class="date-list__item">
            <button class="date-list__btn"><span>Завтра</span></button>
          </li>
          <li class="date-list__item">
            <button class="date-list__btn active"><span>Выходные</span></button>
          </li>
          <li class="date-list__item">
            <button class="date-list__btn"><span>Неделя</span></button>
          </li>
          <li class="date-list__item">
            <button class="date-list__btn"><span>Месяц</span></button>
          </li>
        </ul>
</div>
