<section class="section section--events-month">
    <div class="wrapper">
        <div class="main-title">
            События месяца
        </div>
        <div class="events-month">
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            Концерт</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            Carla's Dreams
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event1.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            Концерт</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            Скриптонит
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event2.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            Концерт</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            «Summer Sound»: Хаски
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event3.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            фильм</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            Ла-Ла Ленд
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event4.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            Фильм</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            <span>Кыся</span>
                            <a href="#">Расписание</a>
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
            <div class="events-month__item">
                <div class="events-card">
                    <a href="#"></a>
                    <div class="events-card__overlay"></div>
                    <img src="img/event5.png" alt="">
                    <div class="events-card__top">
                        <div class="events-card__category">
                            Фильм</div>
                        <div class="sticker-btn">
                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                        </div>
                    </div>
                    <div class="events-card__info">
                        <div class="events-card__title">
                            Кыся
                        </div>
                        <div class="events-card__summary">
                            Летом 2016 их трек взорвал музыкальные чарты и занял первые строчки хит-парадов российского iTunes и «Яндекс. Музыки», играл во всех модных клубах Европы и доносился чуть ли не из каждого автомобиля.
                        </div>
                        <div class="events-card__dop-info">
                            <date class="date">
                                28 мая, 20:00 <span>Стадион "Открытие арена"</span>
                            </date>
                        </div>
                    </div>
                    @include("favorite-action.html")
                </div>
            </div>
        </div>
    </div>
</section>