<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__item">
            <div class="logo-light">
                <a href="#">
                    <img src="img/logo-white.png" alt="">
                </a>
            </div>
            <div class="phone">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-tel"></use>
                </svg>
                <a class="phone__link" href="tel:80000000000">8 (000) 000-00-00</a>
            </div>
            <div class="email">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-email"></use>
                </svg>
                <a class="phone__link" href="mailto:info@bilook.ru">info@bilook.ru</a>
            </div>
        </div>
        <div class="page-footer__item">
            <div class="page-footer__title">О нас</div>
            <ul class="menu-footer">
                <li class="menu-footer__item"><a href="#">Обратная связь</a>
                </li>
                <li class="menu-footer__item"><a href="#">Публичная оферта</a>
                </li>
                <li class="menu-footer__item"><a href="#">Безопасность покупателя</a>
                </li>
                <li class="menu-footer__item"><a href="#">О компании</a>
                </li>
            </ul>
        </div>
        <div class="page-footer__item">
            <div class="page-footer__title">Как купить</div>
            <ul class="menu-footer">
                <li class="menu-footer__item"><a href="#">Как купить билет</a>
                </li>
                <li class="menu-footer__item"><a href="#">Условия возврата билета</a>
                </li>
                <li class="menu-footer__item"><a href="#">Корпоративным клиентам</a>
                </li>
                <li class="menu-footer__item"><a href="#">Отмены/переносы</a>
                </li>
            </ul>
        </div>
        <div class="page-footer__item">
            <div class="page-footer__title">Организаторам</div>
            <ul class="menu-footer">
                <li class="menu-footer__item"><a href="#">Партнерам и организаторам</a>
                </li>
                <li class="menu-footer__item"><a href="#">По вопросам рекламы</a>
                </li>
            </ul>
        </div>
        <div class="page-footer__item">
            <div class="subscribe">
                <div class="subscribe__text">Введите Ваш e-mail для получения акций и новостей</div>
                <form class="subscribe-form">
                    <input class="subscribe-form__input" name="email-subscribe" type="text" placeholder="Ваш email">
                    <button class="subscribe-form__btn btn-gradient">Подписаться</button>
                </form>
                <div class="subscribe__agreement">
                    Отправляя данные, вы соглашаетесь с политикой конфиденциальности
                </div>
            </div>
        </div>
        <div class="page-footer__item">
            @include("social-block.html")
            @include("payment.html")
        </div>
        <div class="wave-wrapper wave-animation">
            <div class="wave-wrapper-inner bg-top">
                <div class="wave waveTop" style="background-image: url('img/wave-top.png')"></div>
            </div>
            <div class="wave-wrapper-inner bg-middle">
                <div class="wave wave-middle" style="background-image: url('img/wave-mid.png')"></div>
            </div>
            <div class="wave-wrapper-inner bg-bottom">
                <div class="wave wave-bottom" style="background-image: url('img/wave-bot.png')"></div>
            </div>
        </div>
    </div>
    <div class="page-footer__bottom">
        <div class="">
            <ul class="author-list">
                <li class="author-list__item">
                    <p class="author-list__text">© 2020 «Bilook». Все права защищены.
                    </p>
                </li>
                <li class="author-list__item">
                    <a class="author-list__link" href="#">Политика конфиденциальности</a>
                </li>
                <li class="author-list__item wesma">
                    <div class="wesma__link" href="#">
                        <p class="wesma__link-tagline">
                            Разработка и продвижение сайта - <a href="https://wesma.ru/" target="_blank">Wesma</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
