<div class="perf-card">
    <div class="perf-card__title inner-title">
        Анна Каренина
    </div>
    <div class="perf-card__counter counter">
        <div class="counter__title">До начала осталось:</div>
        <div class="count-block" id="count"></div>
    </div>
    <div class="perf-card__info">
        <div class="perf-card__info-item">
            <img src="img/t13.jpg" alt="">
        </div>
        <div class="perf-card__info-item">
            <div class="perf-card__row">
                <div class="perf-place">
                    <svg class="icon-svg-gradient" role="presentation">
                        <defs>
                            <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#DF0E77" />
                                <stop offset="1" stop-color="#390796" />
                            </linearGradient>
                        </defs>
                        <use xlink:href="img/sprite.svg#icon-point"></use>
                    </svg>
                    <div class="perf-place__inner location">
                        <a href="#">
                Crocus city hall (Крокус сити холл) - большой зал
                <span>
                       Московская обл., Красногорский р-н,
г. Красногорск, ул. Международная, д. 20
     </span>
              </a>
                    </div>
                </div>
            </div>
            <div class="perf-card__row">
                <div class="genre">
                    <svg class="icon-svg-gradient" role="presentation">
                        <defs>
                            <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#DF0E77" />
                                <stop offset="1" stop-color="#390796" />
                            </linearGradient>
                        </defs>
                        <use xlink:href="img/sprite.svg#icon-circle"></use>
                    </svg>
                    Жанр:
                    <ul class="genre-list">
                        <li class="genre-list__item"><a href="#">Рок</a>
                        </li>
                        <li class="genre-list__item"><a href="#">Металл</a>
                        </li>
                        <li class="genre-list__item"><a href="#">Поп-рок</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="perf-card__row">
                <div class="perf-date">
                    <span class="perf-date__item perf-date-day">
                    <svg class="icon-svg-gradient" role="presentation">
                        <defs>
                            <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#DF0E77" />
                                <stop offset="1" stop-color="#390796" />
                            </linearGradient>
                        </defs>
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                    </svg>
                    27 ноября</span>
                    <span class="perf-date__item perf-date-clock">20:00</span>
                    <span class="perf-date__item perf-date-time">2ч 30мин</span>
                    <span class="perf-date__item perf-date-another">
                                              <a class="date-another" href="#">
                                               <svg class="icon-svg-fill" role="presentation">
                        <defs>
                            <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#DF0E77" />
                                <stop offset="1" stop-color="#390796" />
                            </linearGradient>
                        </defs>
                        <use xlink:href="img/sprite.svg#icon-calendar"></use>
                    </svg>
                                                Другие даты
                      </a>
                                                </span>
                </div>
            </div>
            <div class="perf-card__row">
                <div class="perf-card__row-item">
                    <div class="price-big">
                        <svg class="icon-svg-fill" role="presentation">
                            <defs>
                                <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DF0E77" />
                                    <stop offset="1" stop-color="#390796" />
                                </linearGradient>
                            </defs>
                            <use xlink:href="img/sprite.svg#icon-rub"></use>
                        </svg>
                        2 345 - 6 980
                    </div>
                </div>
                <div class="perf-card__row-item">
                    <div class="perf-card__btn">
                        <a class="btn-border btn-border--white" href="#">
                            <span>Купить билет</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="perf-card__row">
                <div class="stat-block">
                    <div class="stat-block__item">
                        <div class="favorite btn-check">
                            <a href="#">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon-heart"></use>
                                </svg>
                                Хочу посмотреть
                            </a>
                        </div>
                    </div>
                    <div class="stat-block__item">
                        <div class="visited btn-check">
                            <a href="#">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon-check"></use>
                                </svg>
                                Уже ходил
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="perf-card__row">
                <div class="perf-card__row-text">
                    Пригласите друзей, вместе веселее.
                </div>
                <ul class="social-list">
                    <li class="social-list__item">
                        <a class="social-list__icon social-list__icon--tw" href="#" aria-label="Твиттер" target="_blank"></a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__icon social-list__icon--fb" href="#" aria-label="Фейсбук" target="_blank"></a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__icon social-list__icon--vk" href="#" aria-label="Вконтакте" target="_blank"></a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__icon social-list__icon--inst" href="#" aria-label="Инстаграм" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>