<div class="progress">
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
              <img src="img/cinema.png">
            </div>
            <div class="progress__card-title">
                Главный кинокритик
            </div>
        </div>
    </div>
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
                <img src="img/guru1.png">
            </div>
            <div class="progress__card-title">
                Гуру спектаклей
            </div>
        </div>
    </div>
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
                <img src="img/tour.png">
            </div>
            <div class="progress__card-title">
                В туре со звездой
            </div>
        </div>
    </div>
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
              <img src="img/guru2.png">
            </div>
            <div class="progress__card-title">
                Гид концертных кинозалов
            </div>
        </div>
    </div>
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
                <img src="img/meloman.png">
            </div>
            <div class="progress__card-title">
                Меломан
            </div>
        </div>
    </div>
    <div class="progress__item">
        <div class="progress__card">
            <div class="progress__card-img">
              <img src="img/guru2.png">
            </div>
            <div class="progress__card-title">
                Гид концертных кинозалов
            </div>
        </div>
    </div>
</div>