<div class="review-block">
    <div class="review-block__avatar">
        <img src="img/rev1.png" alt="">
    </div>
    <div class="review-block__info">
        <div class="review-block__name">
            Инна Иванова
        </div>
        <div class="review-block__date">
            13 июля 2020
        </div>
        <div class="review-block__descr">
            Легендарная, культовая группа Nautilus Pompilius (Наутилус Помпилиус) - именно так на протяжении более 30 лет говорят и пишут об этой группе. И пусть группа распалась в 1997 прекрасные тексты Ильи Кормильцева, непревзойденное и своеобразное исполнение Вячеслава Бутусова, саксофон.
        </div>
        <div class="review-block__link">
            <a href="#">Читать полностью...</a>
        </div>
    </div>
</div>