<div class="seen-block">
    <div class="seen-block__title">
        Вы смотрели
    </div>
    <div class="seen-block__list">
        <div class="seen-block__list-item">
            <div class="thumb-block">
                <a href="#"></a>
                <div class="thumb-block__img">
                    <img src="img/foto1.png" alt="">
                </div>
                <div class="thumb-block__info">

                    <div class="thumb-block__name">
                        Nautilus pompilius
                    </div>
                    <div class="thumb-block__category">
                        Концерт
                    </div>
                </div>
            </div>
        </div>
        <div class="seen-block__list-item">
            <div class="thumb-block">
                <a href="#"></a>
                <div class="thumb-block__img">
                    <img src="img/foto2.png" alt="">
                </div>
                <div class="thumb-block__info">
                    <div class="thumb-block__name">
                        Nautilus pompilius
                    </div>
                    <div class="thumb-block__category">
                        Концерт
                    </div>
                </div>
            </div>
        </div>
        <div class="seen-block__list-item">
            <div class="thumb-block">
                <a href="#"></a>
                <div class="thumb-block__img">
                    <img src="img/foto3.png" alt="">
                </div>
                <div class="thumb-block__info">
                    <div class="thumb-block__name">
                        Nautilus pompilius
                    </div>
                    <div class="thumb-block__category">
                        Концерт
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>