<div class="inner-block">
    <div class="title-block">
        <div class="title-block__item">
            <div class="inner-title">
                Видео
            </div>
        </div>
        <div class="title-block__item">
            <div class="arrow-slider arrow-slider--video">
                <button class="swiper-button-prev swiper-button-disabled" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="true">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="false">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="slider-video-wrapper">
        <div class="slider-video swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fWd4yHiKi20" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>