<div class="wrapper">
    <div class="sort">
        <ul class="sort-list">
            <li class="sort-list__item">
                <select>
                    <option>Дата</option>
                    <option>Сначала новые</option>
                    <option>Сначала старые</option>
                </select>
            </li>
            <li class="sort-list__item">
                <select>
                    <option>Место</option>
                    <option>Центр</option>
                    <option>Запад</option>
                </select>
            </li>
            <li class="sort-list__item">
                <select>
                    <option>Жанр</option>
                    <option>Комедия</option>
                    <option>Детективы</option>
                </select>
            </li>
        </ul>
    </div>
</div>