<div class="inner-block">
    <div class="text">
        <p>
            Хореографический спектакль по мотивам романа Л. Толстого.</p>

        <p>Лауреат премии «Вильянуэва-2013» (Куба) за лучший иностранный спектакль.</p>

        <p>Премьера спектакля состоялась 28 апреля 2012 г.
        </p>
        <p>Анжелика Холина – режиссер – хореограф и автор спектакля «Берег женщин», четвертый сезон идущего на Вахтанговской сцене.</p>

        <p>В завершении юбилейного сезона Вахтанговского театра, весной 2012 года, выпустила спектакль «Анна Каренина» Л.Н. Толстого и, как и в предыдущей работе, продолжает эстетику невербального театра.
        </p>
        <p>«Я ищу эквивалент гармонии слова и смысла в пластике. Ведь каждое движение таит в себе смысл адекватный слову. Музыка Альфреда Шнитке помогает раскрыть характеры, ее глубокий драматизм и вместе с тем изящество и легкость соответствуют амплитуде чувств героев романа. Для меня мораль романа – женщина не должна быть предметом удовлетворения мужского самолюбия. Нам кажется, что все мы знаем, что такое любовь, но, когда это чувство приходит, мы сталкиваемся с собственным эгоизмом, который все разрушает». (Анжелика Холина)</p>

        <p>Продолжительность спектакля - 2 часа 30 минут с одним антрактом.</p>
        <p>Над спектаклем работали:</p>

        <p>Режиссер-постановщик - Анжелика Холина
            <br>Сценография - Мариус Яцовскис
            <br>Художник по костюмам и гриму - Юозас Статкевичус
            <br>Художник по свету - Тадас Валейка
            <br>
            <br>Действующие лица и исполнители:
            <br>Анна Каренина - Ольга Лерман
            <br>Алексей Каренин, муж Анны - Евгений Князев
            <br>Сережа, сын Карениных - Степан Риваль
            <br>Алексей Вронский - Дмитрий Соломыкин
            <br>Степан Облонский (Стива), брат Анны - Валерий Ушаков
            <br>Дарья Облонская (Долли), его жена - Мария Волкова, Мария Кулик
            <br>Екатерина Щербацкая (Кити), сестра Долли - Екатерина Крамзина, Наташа Калашник
            <br>Константин Левин - Фёдор Воронцов
            <br>Княгиня Бетси Тверская, кузина Вронского - Ксения Кубасова
            <br>Князь Тверской, муж Бетси - Денис Самойлов, Дмитрий Гудочкин
            <br>Графиня Вронская, мать Вронского - Вера Новикова
            <br>Графиня Лидия Ивановна - Любовь Корнева, Виктория Куль
            <br>Княжна Сорокина - Аделина Гизатуллина, Анастасия Жданова
            <br>Граф Тушкевич - Василий Цыганцов
            <br>Певица в опере - Мария Пахарь, Светлана Криницкая
            <br>Дамы, кавалеры высшего общества, кадеты, наездники, гости, слуги - Мария Волкова, Мария Риваль, Екатерина Крамзина, Олег Лопухов, Вера Новикова, Валерий Ушаков, Фёдор Воронцов, Эльдар Трамов, Лада Чуровская, Аделина Гизатуллина, Павел Тэхэда Кардэнас, Василий Цыганцов, Екатерина Симонова, Анастасия Жданова, Денис Самойлов, Ася Домская, Павел Юдин, Наташа Калашник, Мария Кулик, Анастасия Лазебных, Дмитрий Гудочкин, Анастасия Куимова
        </p>
        <a class="btn-border btn-border--white" href="#">
            <span>Читать далее</span>
        </a>
    </div>
</div>