.avatar {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: $white;
    border-radius: 100%;

    &--big {
      width: 180px;
      height: 180px;
    }

    & img {
      width: 100%;
      border-radius: 100%;
    }
    & svg {
        position: absolute;
        top: -16px;
        left: -9px;
        width: 181px;
        height: 181px;
        transform: rotate(128deg);
    }

    &--big svg {
        top: -28px;
        left: -17px;
        width: 235px;
        height: 235px;
    }
    .outer {
        fill: transparent;
        stroke: url(#grad2);
        stroke-width: 2px;
        stroke-dasharray: 481;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s;
        -webkit-animation-play-state: running;
    }

    &--big .outer {
      stroke-dasharray: 580;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 40px;
        right: -7px;
        width: 7px;
        height: 7px;
        background-color: $pink;
        border-radius: 100%;
    }

    &--big::before {
       bottom: 46px;
       right: -4px;
    }
}

.float-profile.open-profile .avatar .outer {
  animation: show100 1s;
}

