.btn-border-light {
    position: relative;
    display: inline-block;
    max-width: 235px;
    padding: 18px 33px;
    font-size: 14px;
    color: $white;
    background: transparent;
    border: 1px solid $white;
    text-transform: uppercase;
    border-radius: 100px;
    overflow: hidden;
    transition: .6s;
      &:hover {
       
    }
    
}