.content-block {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 20px;
}

@media(max-width: 1300px) {
  .content-block {
    grid-column-gap: 10px;
  }
}

@media(max-width: 1000px) {
  .content-block {
     display: block;
  }
}