.float-profile {
  position: absolute;
  top: 120%;
  right: 30px;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  background-color: $white;
  border-radius: 10px;
  z-index: 6000;
  transition: all 0.3s ease;

    &.open-profile {
      opacity: 1;
      visibility: visible;
    }

  & .user-profile {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.01);
  }
}