  .page-header-actions {
    position: relative;
    display: flex;
    align-items: center;

    &-item {
      width: 45%;
      padding: 15px 5px;

      &:nth-child(2) {
        border-left: 1px solid #F5F5F5;
      }
    }
  }