.place {
  display: flex;
  align-items: center;
  font-family: $MBoldFont;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  & svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: $pink;
  }
}