.price-big {
  display: flex;
  align-items: center;
  font-size: 39px;
  line-height: 35px;
  color: $dark;
  text-transform: uppercase;

  & svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

@media(max-width: 600px) {
  .perf-card__row-item .price-big {
    font-size: 22px;
  }
}