.stat-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin: 5px 0;
    margin-right: 10px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.user-profile__item .stat-block__item {
  width: 45%;
}

@media(max-width: 1300px) {
  .user-profile__item .stat-block__item {
    width: 100%;
    margin-right: 0;
}
}