@charset "UTF-8";

@font-face {
	font-weight: 400;
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf);
	font-style: normal;
}

@font-face {
	font-weight: 400;
	font-family: "Roboto";
	src: url(../fonts/Roboto-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-weight: 600;
	font-family: "Roboto";
	src: url(../fonts/Roboto-Bold.ttf);
	font-style: normal;
}

@font-face {
	font-weight: 600;
	font-family: "Roboto";
	src: url(../fonts/Roboto-BoldItalic.ttf);
	font-style: italic;
}

.cinema-header {
	z-index: 5000;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	background-color: #ffffff;
	transition: all 0.3s ease;
}

.cinema-header.fixed {
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	margin: 0;
	background: #ffffff;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.cinema-header--inner {
	margin-bottom: 20px;
	background-color: #f8f8f8;
}

.cinema-header__wrapper {
	width: 100%;
	max-width: 1815px;
	margin: 0 auto;
}

.cinema-header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cinema-header__switch {
	position: relative;
	display: inline-block;
	width: 65px;
	height: 26px;
}

.cinema-header__switch.--white {}

.cinema-header__switch.--white .cinema-header__slider {
	background: linear-gradient(0deg, #df0e77 7.13%, #390796 95%);
	transition: background 3s ease;
}

.cinema-header__switch.--white .cinema-header__slider .circle {
	left: 3px;
	background: #fff;
}

.cinema-header__switch.--white .cinema-header__slider .line {
	background: #fff;
}

.cinema-header__switch.--white .cinema-header__slider .moon svg {
	transform: scale(0.8);
}

/**/

.cinema-header__switch.--dark .cinema-header__slider {
	background: #fff;
	box-shadow: 0 0 1px #333;
	transition: background 3s ease;
}

.cinema-header__switch.--dark .cinema-header__slider .circle {
	left: 42px;
	background: #333;
}

.cinema-header__switch.--dark .cinema-header__slider .line {
	background: #333;
}

.cinema-header__switch.--dark .cinema-header__slider .sun svg {
	transform: scale(0.8);
}

.cinema-header__slider.cinema-header__round {
	border-radius: 34px;
}

.cinema-header__slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 135%;
	-webkit-transition: 0.4s;
	transition: background 3s ease;
}

.cinema-header__slider .sun {
	position: absolute;
	height: 16px;
	width: 16px;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	background-size: contain;
	transition: all 0.5s ease;
	z-index: 3;
}

.cinema-header__slider .sun svg {
	transition: all 0.3s ease 0.4s;
}

.cinema-header__slider .moon {
	position: absolute;
	height: 15px;
	width: 12px;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
	background-size: contain;
	transition: all 0.5s ease;
	z-index: 3;
}

.cinema-header__slider .moon svg {
	transition: all 0.3s ease 0.4s;
}

.circle {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 3px;
	top: 50%;
	border-radius: 50%;
	background: #fff;
	transform: translateY(-50%);
	z-index: 2;
	transition: all 0.5s ease;
}

.line {
	position: absolute;
	height: 1px;
	width: 19px;
	left: 23px;
	top: 50%;
	background: #fff;
	transform: translateY(-50%);
	z-index: 2;
	transition: all 0.5s ease;
}

/* .cinema-header__slider.cinema-header__round:before {
    border-radius: 50%;
  } */

.cinema-header__item {
	position: relative;
	background-color: #ffffff;
	z-index: 1;
}

.cinema-header__item:nth-child(1) {
	width: 300px;
	padding: 30px 0;
}

.cinema-header__item:nth-child(2) {
	width: 60%;
}

.cinema-header__item:nth-child(3) {
	width: 370px;
	padding: 0;
}

.cinema-header__item:nth-child(1)::after,
.cinema-header__item:nth-child(3):after {
	position: absolute;
	content: "";
	bottom: -2px;
	left: 0;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #df0e77, #df0e77 12.5%, #390796 12.5%, #390796 25%, #df0e77 25%, #df0e77 37.5%, #390796 37.5%, #390796 50%, #df0e77 50%, #df0e77 62.5%, #390796 62.5%, #390796 75%, #df0e77 75%, #df0e77 87.5%, #390796 87.5%);
	background-size: 100% 2px;
}

@media (max-width: 1000px) {
	.cinema-header__inner {
		padding: 0 15px;
		background-color: #ffffff;
	}

	.cinema-header__item:nth-child(1) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-right: none;
	}

	.cinema-header__item:nth-child(2),
	.cinema-header__item:nth-child(3),
	.cinema-header__item:nth-child(4) {
		display: none;
	}
}

.cinema-header-actions {
	position: relative;
	display: flex;
	align-items: center;
}

.cinema-header-actions-item {
	width: 45%;
	padding: 25px;
}

.cinema-header-actions-item:nth-child(2) {
	border-left: 1px solid #f5f5f5;
}

.cinema-header-search {
	position: relative;
}

.header__menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-evenly;
}

.cinema-header .page-header__item:nth-child(1) {
	width: 20%;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cinema-header .page-header__group-mobile {
	display: flex;
}

.cinema-header .link-menu.trigger-modal {
	display: none;
}

.cinema-header .page-header__item:nth-child(2) {
	margin: 0 30px;
	width: 60%;
}

.cinema-header .page-header__item:nth-child(3) {
	width: 20%;
	padding: 0;
}

.page-header__group-switch {
	min-width: 65px;
	display: flex;
}

.header__menu-item {
	padding-right: 10px;
}

.header__menu-item:hover .animate-link:after,
.header__menu-item:active .animate-link:after {
	position: absolute;
	content: "";
	bottom: -51px;
	left: 0;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #df0e77, #df0e77 50%, #390796 50%, #390796);
	background-size: 100% 2px;
}

.header__menu {
	padding: 0 30px;
	font-size: 16px;
}

.menu-list {
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.3s ease;
}

.header__menu-sub-list {
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: grid;
	grid-template-rows: repeat(10, auto);
	grid-column-gap: 80px;
	grid-auto-flow: column;
	padding: 30px 70px 30px 30px;
	background: #ffffff;
	box-shadow: 0px 8px 31px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.13);
}

.header__menu-wrap {
	padding-top: 49px;
	opacity: 0;
	visibility: hidden;
	min-width: 200px;
	transition: all 0.3s ease;
	z-index: 100;
	position: absolute;
}

.menu-item {
	position: relative;
}

.header__menu-sub-link {
	display: block;
	transition: all 0.3s ease;
}

.menu-item:hover>.menu-list {
	opacity: 1;
	visibility: visible;
	height: initial;
}

.header__menu-sub-item {
	padding-bottom: 15px;
	white-space: nowrap;
}

.header__menu-sub-item:last-child {
	padding-bottom: 0;
}

.cinema-header .page-header-actions-item:nth-child(2) {
	width: 60%;
	padding: 25px 5px;
}

.animate-link {
	position: relative;
	transition: all 0.3s ease;
}

.header__menu-sub-link:hover,
.header__menu-sub-link:active {
	text-shadow: 0px 0px 0px #df0e77, 0px 0px 0px #df0e77;
	color: #df0e77;
}

.cinema-header .search-box {
	width: 40%;
	margin: 0;
	padding: 0;
	justify-content: center;
	position: relative;
}

.search-box__show-block {
	opacity: 1;
	visibility: visible;
	width: 55px;
	height: 55px;
	background-image: url(../img/search-icon.png);
	background-size: 27px;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.5s ease;
}

.search-box__show-block.--hidden {
	opacity: 0;
	visibility: hidden;
}

.cinema-header .search-box__item {
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
}

.cinema-text[data-readmore] {
	display: block;
	width: 100%;
}

.cinema-text[data-readmore] {
	-webkit-transition: height 100ms;
	transition: height 100ms;
	overflow: hidden;
}

/* .text-wrapper {
	display: flex;
	flex-direction: column;

	padding: 40px 30px;
	background-color: #ffffff;
	border-radius: 10px;
}

.spoiler-text.btn-border {
	margin: 0 auto;
} */

.cinema-text {
	margin-bottom: 10px;
}

.cinema-text {
	position: relative;
}

/* .text-wrapper .text */

.cinema-text[id^="rmjs"]::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 100px;
	background: linear-gradient(0deg, rgba(248, 248, 248, 1) 10%, rgba(248, 248, 248, 0) 100%);
	z-index: 100;
	width: 100%;
}

.cinema-text.readmore-js-collapsed[id^="rmjs"]::before {
	content: none;
}

.online-cinema-wrapper .btn-border {
	text-transform: initial;
	font-size: 16px;
}

.cinema-text .btn-border {
	font-family: "Montserrat-Semibold", "Arial", sans-serif;
	text-transform: none;
}

.cinema-text--light {
	padding: 10px 0;
	background-color: transparent;
}

.cinema-text ul {
	margin: 20px 0;
	margin-top: 0;
	padding-left: 15px;
}

.cinema-text ul li {
	position: relative;
	margin-bottom: 5px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 20px;
}

.cinema-text ul li::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background-color: #df0e77;
	border-radius: 100%;
}

.gallery-section {
	padding-top: 20px;
	margin-bottom: 6.27%;
}

.online-cinema-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-galery {
	overflow: hidden;
}

.main-galery__slider {
	overflow: initial;
	position: relative;
}

.main-galery__list-item {
	width: 100%;
	height: 545px;
	position: relative;
}

.main-galery__list-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.main-galery__list-item.swiper-slide-prev,
.main-galery__list-item.swiper-slide-next {
	position: relative;
	transition: all 0.3s ease;
}

.main-galery__list-item.swiper-slide-prev::after,
.main-galery__list-item.swiper-slide-next::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.main-galery__pagination {
	display: none;
	justify-content: center;
	position: absolute;
	content: "";
	z-index: 1;
}

.main-galery .main-galery__pagination .swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background: #fff;
	opacity: 0.5;
	margin-right: 20px;
}

.main-galery .main-galery__pagination .swiper-pagination-bullet-active {
	transform: none;
	margin-top: 0;
	display: flex;
	align-items: center;
	background: #df0e77;
	opacity: 1;
}

.main-galery__navigation {
	display: flex;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	width: 100%;
}

.main-galery__prev.swiper-button-prev {
	left: -120px;
}

.main-galery__next.swiper-button-next {
	right: -120px;
}

.slider-cinema-navigation {
	display: flex;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	width: 100%;
}

.slider-cinema-prev.swiper-button-prev {
	left: -120px;
}

.slider-cinema-next.swiper-button-next {
	right: -120px;
}

.main-galery__info {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 600px;
	max-width: 90%;
}

.main-galery__title {
	font-weight: 600;
	font-size: 50px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 5%;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.main-galery__description {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
	color: #ffffff;
	margin-bottom: 5%;
	text-shadow: 0px 0px 5px black;
}

.main-galery__link {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	padding: 3% 12%;
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0px 0px 5px black;
	transition: all 0.3s ease;
}

.main-galery__link:active,
.main-galery__link:hover {
	text-shadow: 0px 0px 0px #df0e77, 0px 0px 0px #df0e77;
	color: #df0e77;
}

.main-galery__list-item.swiper-slide-prev .main-galery__info,
.main-galery__list-item.swiper-slide-next .main-galery__info {
	opacity: 0.5;
}

.online-cinema__block {
	margin-bottom: 3.5%;
	position: relative;
}

.cinema-recomendation .online-cinema__block {
	margin-bottom: 1.6%;
}

.online-cinema__title-block {
	margin-bottom: 4.3%;
}

.online-cinema__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.25;
	margin-bottom: 10px;
	position: relative;
	transition: all 0.3s ease;
	display: inline-block;
	transition: all 0.3s ease;
}

.online-cinema__title:before {
	position: absolute;
	content: "";
	top: 56%;
	transform: translate(-50%, -50%);
	right: -40px;
	background-image: url("../img/arrow-more.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 15px;
	height: 24px;
	transition: all 0.3s ease;
}

.online-cinema__title:hover,
.online-cinema__title:active {
	color: #df0e77;
}

.online-cinema__title:hover:before,
.online-cinema__title:active:before {
	background: url("../img/arrow-more-pink.png") no-repeat;
	right: -50px;
	background-size: contain;
	width: 15px;
	height: 24px;
}

.online-cinema__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
}

@media (min-width: 1025px) {
	.cinema-card:hover .cinema-card__img:after {
		background: rgba(0, 0, 0, 0.5);
	}

	.cinema-card__film-info {
		opacity: 0;
	}

	.cinema-card:hover .cinema-card__film-info {
		opacity: 1;
	}
}

.cinema-card {
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #dedede;
	border-radius: 10px;
	transition: all 0.3s ease-in;
}

.cinema-card>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.cinema-card__info {
	padding: 20px 15px;
}

.cinema-card__img {
	position: relative;
	height: 282px;
	border-radius: 10px;
}

.cinema-card__img::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
}

.cinema-card__img img {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	-o-object-fit: cover;
	object-fit: cover;
}

.cinema-card__sticker-choice {
	position: absolute;
	content: "";
	top: 14px;
	left: 14px;
	background-color: #df0e77;
	border-radius: 10px;
	font-weight: 500;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	padding: 8px 14px;
	z-index: 2;
}

.cinema-card__preferences {
	position: absolute;
	content: "";
	top: 14px;
	right: 14px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	z-index: 5;
}

.cinema-card__other {
	display: flex;
	flex-direction: column;
}

.cinema-card__like {
	transition: all 0.3s ease;
	margin-bottom: 14px;
}

.cinema-card__watchLater {
	margin-bottom: 14px;
}

.cinema-card__like path {
	fill: transparent;
	stroke: #fff;
	transition: all 0.3s ease;
}

.cinema-card__like:hover path,
.cinema-card__like:active path {
	fill: #df0e77;
	stroke: transparent;
}

.cinema-card__other-block {
	display: none;
}

.cinema-card__notShow,
.cinema-card__watchLater {
	transition: all 0.3s ease;
}

.cinema-card__watchLater:hover svg,
.cinema-card__watchLater:active svg {
	fill: #df0e77;
	stroke: #df0e77;
}

.cinema-card__notShow:hover svg,
.cinema-card__notShow:active svg {
	stroke: #df0e77;
}

.addFav,
.watchLater,
.notShow {
	display: block;
}

.cinema-card__other {
	display: flex;
	justify-content: center;
}

.cinema-card__film-info {
	position: absolute;
	content: "";
	bottom: 5px;
	left: 15px;
	width: 150px;
	height: 150px;
	color: #ffffff;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.cinema-card__rate {
	margin-bottom: 10px;
}

.cinema-card__rate-digits {
	font-weight: 600;
	font-size: 30px;
	line-height: 1.33;
	color: #ffffff;
	margin-bottom: 10px;
}

.star-rating {
	height: 15px;
	position: relative;
	width: 132px;
}

.star-rating:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='none'%3E%3Cg clip-path='url(%23clip0_2:4)'%3E%3Cpath d='M12.6796 14.9606C12.6791 14.9638 12.6781 14.9665 12.6771 14.9685L8.50011 11.9693L8.18898 11.746L7.87785 11.9693L3.69949 14.9695C3.69908 14.9686 3.69869 14.9676 3.69833 14.9665C3.69649 14.9607 3.69659 14.9542 3.69851 14.9485L3.69861 14.9482L5.33104 10.1596L5.4507 9.80859L5.13691 9.59547L0.906142 6.72203L0.905913 6.72188C0.905851 6.72183 0.903188 6.71988 0.901264 6.71444C0.899299 6.70886 0.899143 6.70226 0.900963 6.69641C0.902096 6.69277 0.903625 6.69051 0.904686 6.68927H6.11851H6.49972L6.61441 6.3397L8.18898 1.54059L9.76354 6.34126L9.87815 6.69088H10.2594H15.4749C15.4759 6.69211 15.4775 6.69437 15.4785 6.69799C15.4804 6.70383 15.4803 6.71044 15.4783 6.71603C15.4764 6.72149 15.4738 6.72344 15.4737 6.72349V6.72351L11.2413 9.59534L10.9272 9.8084L11.0469 10.1596L12.6783 14.9469V14.947C12.6798 14.9511 12.6802 14.9559 12.6796 14.9606ZM15.4792 6.69088C15.4791 6.69088 15.479 6.69088 15.479 6.69088H15.4792Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2:4'%3E%3Crect width='22' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 22px;
	bottom: 0;
	content: "";
	display: block;
	height: 15px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 132px;
}

.star-rating>span {
	display: block;
	text-indent: -10000px;
	width: 132px;
	height: 15px;
	position: absolute;
	overflow: hidden;
}

.star-rating>span:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='%23DF0E77'%3E%3Cg clip-path='url(%23clip0_2:4)'%3E%3Cpath d='M12.6796 14.9606C12.6791 14.9638 12.6781 14.9665 12.6771 14.9685L8.50011 11.9693L8.18898 11.746L7.87785 11.9693L3.69949 14.9695C3.69908 14.9686 3.69869 14.9676 3.69833 14.9665C3.69649 14.9607 3.69659 14.9542 3.69851 14.9485L3.69861 14.9482L5.33104 10.1596L5.4507 9.80859L5.13691 9.59547L0.906142 6.72203L0.905913 6.72188C0.905851 6.72183 0.903188 6.71988 0.901264 6.71444C0.899299 6.70886 0.899143 6.70226 0.900963 6.69641C0.902096 6.69277 0.903625 6.69051 0.904686 6.68927H6.11851H6.49972L6.61441 6.3397L8.18898 1.54059L9.76354 6.34126L9.87815 6.69088H10.2594H15.4749C15.4759 6.69211 15.4775 6.69437 15.4785 6.69799C15.4804 6.70383 15.4803 6.71044 15.4783 6.71603C15.4764 6.72149 15.4738 6.72344 15.4737 6.72349V6.72351L11.2413 9.59534L10.9272 9.8084L11.0469 10.1596L12.6783 14.9469V14.947C12.6798 14.9511 12.6802 14.9559 12.6796 14.9606ZM15.4792 6.69088C15.4791 6.69088 15.479 6.69088 15.479 6.69088H15.4792Z' stroke='%23DF0E77'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2:4'%3E%3Crect width='22' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 22px;
	bottom: 0;
	content: "";
	display: block;
	height: 15px;
	left: 0;
	position: absolute;
	right: 0;
	text-indent: 10000px;
	top: 0;
}

.cinema-card__text-block {
	font-size: 12px;
	line-height: 1;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
}

.cinema-card__text-block span {
	margin-bottom: 10px;
	margin-right: 5px;
	position: relative;
}

.cinema-card__text-block span:after {
	position: absolute;
	content: ",";
	bottom: 1px;
	right: -3px;
}

.cinema-card__text-block span:last-child:after {
	display: none;
}

.cinema-card__price {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: #453333;
}

.cinema-card__title {
	padding-bottom: 10px;
	font-family: "Montserrat-Bold", "Arial", sans-serif;
	font-size: 16px;
	color: #333333;
	height: 50px;
}

.cinema-card__dop-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.cinema-card__place {
	width: 49%;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.cinema-card__date {
	width: 49%;
	font-family: "Montserrat-Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #d95c9b;
	text-align: right;
}

.cinema-card--light {
	border: 1px solid rgba(222, 222, 222, 0.08);
}

.cinema-card--light .cinema-card__title {
	color: #ffffff;
}

.cinema-card--light .cinema-card__place {
	color: #ffffff;
}

/* .cinema-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.01);
  } */

.cinema-card__table {
	width: 100%;
}

.cinema-card__table-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.cinema-card__table-col {
	margin-bottom: 20px;
}

.cinema-card__table-col:first-child {
	width: 20%;
	margin-right: 10px;
}

.cinema-card__link {
	color: #d95c9b;
	font-size: 16px;
	font-weight: bold;
}

.cinema-card .perf-date {
	font-size: 16px;
}

.cinema-card .perf-date span:first-child {
	margin-left: 0;
}

.cinema-card .perf-date span {
	margin: 0 20px;
	text-transform: none;
}

.online-cinema-wrapper .text {
	position: relative;
}

.cinema-seo-txt h1 {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.36;
	color: #333333;
	margin-bottom: 20px;
	text-align: initial;
	text-transform: initial;
	font-family: "Montserrat", "Arial", sans-serif;
}

.cinema-seo-txt__block {
	margin-bottom: 5.2%;
}

.cinema-seo-txt__block p,
.cinema-seo-txt__block li {
	font-size: 16px;
	line-height: 1.62;
}

.cinema-seo-txt__block .btn-border {
	display: block;
}

.online-cinema-wrapper .text[id^="rmjs"]::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 100px;
	background: linear-gradient(0deg, rgba(248, 248, 248, 1) 10%, rgba(248, 248, 248, 0) 100%);
	z-index: 100;
	width: 100%;
}

.slider-cinema-prev {
	background-position: 0% -1%;
}

.slider-cinema-prev:hover {
	background-position: 0% 44%;
}

.slider-cinema-next {
	background-position: 100% -1%;
}

.slider-cinema-next:hover {
	background-position: 100% 44%;
}

@media (max-width: 1450px) {
	.main-galery__prev.swiper-button-prev {
		left: -90px;
	}

	.main-galery__next.swiper-button-next {
		right: -90px;
	}
}

@media (max-width: 1400px) {
	.cinema-header .header__menu-link {
		font-size: 14px;
	}

	.cinema-header .page-header__item:nth-child(1) {
		width: 20%;
	}

	.cinema-header .page-header__item:nth-child(2) {
		margin: 0 15px;
		width: 60%;
	}

	.cinema-header .page-header-actions-item:nth-child(2) {
		width: 80%;
		padding: 15px 5px;
	}

	.cinema-header .search-box {
		width: 20%;
	}

	.cinema-header .page-header__item:nth-child(3) {
		width: 20%;
	}

	/* .header__menu-item:hover .animate-link:after,
	.header__menu-item:active .animate-link:after {
		bottom: -43px;
	} */

	.header__menu-wrap {
		padding-top: 39px;
	}

	.main-galery__navigation {
		display: none;
	}

	.main-galery__pagination {
		display: flex;
	}

	.slider-cinema-navigation {
		position: static;
		margin-bottom: 20px;
	}

	.slider-cinema-prev.swiper-button-prev {
		left: 0;
	}

	.slider-cinema-next.swiper-button-next {
		right: 0;
	}

	.online-cinema__title-block {
		margin-bottom: 30px;
	}
}

@media (max-width: 1200px) {
	.cinema-header .page-header__item:nth-child(2) {
		display: none;
	}

	.main-galery__list-item {
		height: 500px;
	}
}

@media (min-width: 1200px) {
	.page-header__group-logo {
		margin-right: 10px;
	}
}

@media (max-width: 1200px) {
	.page-header-actions-item {
		display: none;
	}

	.cinema-header .link-menu.trigger-modal {
		display: flex;
	}

	.cinema-header .mobile-menu {
		display: block;
	}

	.cinema-header .page-header__group-logo {
		display: flex;
		align-items: center;
	}

	.cinema-header .page-header__group-logo .logo img {
		vertical-align: middle;
	}

	.cinema-header .page-header__group-mobile {
		display: flex;
		align-items: center;
	}

	.cinema-header .page-header__group-mobile .page-header-actions-item {
		display: flex;
		width: initial;
		padding: 0;
	}

	.cinema-header .page-header__inner {
		padding: 0 15px;
		background-color: #ffffff;
		flex-wrap: wrap;
	}

	.cinema-header .page-header--inner .page-header__item:nth-child(2) {
		width: 100%;
	}

	.cinema-header .page-header__item {
		padding: 10px 0;
	}

	.cinema-header .page-header__item:nth-child(1) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		border-right: none;
		padding-bottom: 2%;
		padding-top: 2%;
	}

	.cinema-header .page-header__item:nth-child(4) {
		display: none;
	}

	.cinema-header.page-header--inner .page-header__item:nth-child(1)::before,
	.cinema-header.page-header--inner .page-header__item:nth-child(3)::before {
		display: none;
	}

	.cinema-header .page-header__item:nth-child(3) {
		width: 100%;
		display: block;
		padding-bottom: 6px;
	}

	.search-box__show-block {
		display: none;
	}

	.cinema-header .search-box__item {
		display: block !important;
		position: static;
		transform: none;
		width: 100%;
	}

	.cinema-header .search-box {
		width: 100%;
	}

	.cinema-header .page-header__item:nth-child(2) {
		width: 100%;
	}

	.cinema-header .logo {
		width: auto;
		max-width: 140px;
		margin: 0 auto;
	}

	.cinema-header .search-box {
		padding: 0;
	}

	.cinema-header .search-box input[type="text"] {
		height: 35px;
	}

	.cinema-header .search-box .submit {
		height: 35px;
	}

	.cinema-header .search-box .submit::before {
		top: 6px;
		width: 24px;
		height: 24px;
		background-size: contain;
	}
}

@media (max-width: 1170px) {
	.main-galery__title {
		font-size: calc(20px + 30 * ((100vw - 320px) / 1170));
	}

	.main-galery__description {
		font-size: calc(12px + 10 * ((100vw - 320px) / 1170));
	}

	.main-galery__link {
		font-size: calc(12px + 10 * ((100vw - 320px) / 1170));
	}

	.online-cinema__title {
		font-size: calc(25px + 15 * ((100vw - 320px) / 1170));
	}
}

@media (max-width: 1024px) {
	.main-galery__list-item {
		height: 450px;
	}

	.cinema-card .cinema-card__img:after {
		background: rgba(0, 0, 0, 0.4);
	}
}

@media (max-width: 800px) {
	.main-galery__list-item {
		height: 350px;
	}

	.main-galery .main-galery__pagination .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin-right: 15px;
	}
}

@media (max-width: 600px) {
	.main-galery__list-item {
		height: 250px;
	}

	.main-galery__info {
		position: absolute;
		bottom: 30px;
		left: 25px;
	}

	.main-galery__title,
	.main-galery__description {
		margin-bottom: 3%;
	}

	.main-galery__link {
		padding: 2% 10%;
	}
}

@media (max-width: 500px) {
	.gallery-section {
		padding-top: 0;
	}

	.online-cinema__title,
	.online-cinema__title-block {
		text-align: center;
	}

	.online-cinema__subtitle {
		display: none;
	}

	.slider-cinema-navigation {
		justify-content: space-evenly;
	}

	.online-cinema__block {
		margin-bottom: 30px;
	}

	.online-cinema__title-block {
		margin-bottom: 15px;
	}

	.online-cinema__title:before {
		display: none;
	}
}

@media (max-width: 450px) {
	.main-galery__list-item {
		height: 200px;
	}

	.main-galery .main-galery__pagination .swiper-pagination-bullet {
		width: 7px;
		height: 7px;
		margin-right: 10px;
	}
}

@media (max-width: 320px) {
	.main-galery__list-item {
		height: 150px;
	}

	.main-galery__link {
		padding: 1% 6%;
	}

	.main-galery__description {
		display: none;
	}
}

.online-breadcrumbs .breadcrumbs {
	background-color: #f8f8f8;
	padding: 0;
	border-bottom: none;
	margin-bottom: 15px;
}

.online-breadcrumbs .breadcrumbs-list__item a,
.online-breadcrumbs .breadcrumbs-list__item span {
	background: #fff;
}

.online-breadcrumbs .breadcrumbs-list__item:first-child {
	margin-left: 0;
	margin-right: -4px;
}

.online-breadcrumbs .breadcrumbs-list__item {
	margin-left: -8px;
}

.online-card {
	margin-bottom: 6.5%;
}

.online-card__info {
	position: relative;
}

.online-card__age {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
}

.online-card__age.age {
	padding: 1px;
	background: linear-gradient(143deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 100%;
}

.online-card__age.age span {
	padding: 17px 0;
	background: #f8f8f8;
}

.online-card__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.25;
	margin-bottom: 20px;
}

.online-card__short-info {
	margin-bottom: 40px;
}

.online-card__other-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
}

.online-card__other-title,
.online-card__short-descr,
.online-card__persons {
	margin-bottom: 20px;
}

.online-card__persons {
	display: flex;
}

.online-card__persons:last-child {
	margin-bottom: 0;
}

.online-card__short-descr span,
.online-card__name span {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: #9c9c9c;
	position: relative;
	margin-right: 5px;
}

.online-card__name span .online-card__link {
	transition: all 0.3s ease;
}

.online-card__name span:hover,
.online-card__name span:active,
.online-card__link:hover,
.online-card__link:active {
	color: #390796;
	text-shadow: 0px 0px 2px #390796;
}

.online-card__short-descr span:last-child,
.online-card__name span:last-child {
	margin-right: 0;
}

/* .online-card__short-descr span::after,
.online-card__name span::after,
.online-card__configuration-value span::after {
    position: absolute;
    content: ",";
    bottom: -1px;
    right: -3px;

} */

.online-card__configuration-value {
	display: flex;
	flex-wrap: wrap;
}

.online-card__short-descr span:last-child:after,
.online-card__name span:last-child:after,
.online-card__configuration-value span:last-child:after {
	display: none;
}

.online-card__director,
.online-card__cast {
	display: flex;
}

.online-card__position {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: #df0e77;
	margin-right: 15px;
}

.online-card__video {
	width: 100%;
	margin-bottom: 40px;
}

.online-card__links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

/* вместо img подставь тег того, что будет вставляться в online-card__video*/
.online-card__video img,
.online-card__video iframe {
	width: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.online-card__item {
	display: flex;
}

.online-card__link {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 1;
	color: #9c9c9c;
	position: relative;
	margin-right: 50px;
}

.online-card__link:last-child {
	margin-right: 0;
}

.online-card__duration,
.online-card__duration svg {
	transition: all 0.3s ease;
}

.online-card__link svg {
	position: relative;
	transition: all 0.3s ease;
	margin-right: 15px;
}

.online-card__link:hover svg,
.online-card__link:active svg {
	fill: #df0e77;
}

.online-card__configuration {
	display: flex;
	margin-bottom: 40px;
}

.online-card__configuration-item {
	margin-right: 100px;
}

.online-card__configuration-item:last-child {
	margin-right: 0;
}

.online-card__configuration-name {
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 15px;
}

.online-card__configuration-value span {
	position: relative;
	font-size: 16px;
	line-height: 1;
	color: #9c9c9c;
	margin-right: 10px;
	margin-bottom: 5px;
}

.online-card__description {
	display: flex;
}

.online-card__description-item:first-child {
	margin-right: 100px;
}

.online-card__description-item .text {
	padding-top: 0;
}

.online-card__rate {
	width: 125px;
	text-align: center;
}

.online-card__rate-digits {
	font-weight: 600;
	font-size: 80px;
	line-height: 1;
	margin-bottom: 10px;
}

.online-card__rate span {
	font-size: 12px;
	line-height: 1.33;
	color: #9c9c9c;
}

.online-card__rate-stars {
	margin-top: 15px;
}

.online-card .star-rating:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='none'%3E%3Cg clip-path='url(%23clip0_2:4)'%3E%3Cpath d='M12.6796 14.9606C12.6791 14.9638 12.6781 14.9665 12.6771 14.9685L8.50011 11.9693L8.18898 11.746L7.87785 11.9693L3.69949 14.9695C3.69908 14.9686 3.69869 14.9676 3.69833 14.9665C3.69649 14.9607 3.69659 14.9542 3.69851 14.9485L3.69861 14.9482L5.33104 10.1596L5.4507 9.80859L5.13691 9.59547L0.906142 6.72203L0.905913 6.72188C0.905851 6.72183 0.903188 6.71988 0.901264 6.71444C0.899299 6.70886 0.899143 6.70226 0.900963 6.69641C0.902096 6.69277 0.903625 6.69051 0.904686 6.68927H6.11851H6.49972L6.61441 6.3397L8.18898 1.54059L9.76354 6.34126L9.87815 6.69088H10.2594H15.4749C15.4759 6.69211 15.4775 6.69437 15.4785 6.69799C15.4804 6.70383 15.4803 6.71044 15.4783 6.71603C15.4764 6.72149 15.4738 6.72344 15.4737 6.72349V6.72351L11.2413 9.59534L10.9272 9.8084L11.0469 10.1596L12.6783 14.9469V14.947C12.6798 14.9511 12.6802 14.9559 12.6796 14.9606ZM15.4792 6.69088C15.4791 6.69088 15.479 6.69088 15.479 6.69088H15.4792Z' stroke='grey'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2:4'%3E%3Crect width='22' height='16' fill='grey'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 22px;
	bottom: 0;
	content: "";
	display: block;
	height: 15px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 132px;
}

.online-card__description-item:nth-child(2) .btn-border {
	display: block;
}

.online-crew {
	margin-bottom: 60px;
}

.online-crew__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.25;
	margin-bottom: 30px;
}

.online-crew__list {
	display: flex;
	flex-wrap: wrap;
}

.online-crew__list-item {
	display: block;
	width: 95px;
	height: 170px;
	margin-right: 40px;
	transition: none;
	margin-bottom: 40px;
}

.online-crew__list-item:hover .online-crew__img img,
.online-crew__list-item:active .online-crew__img img,
.online-crew__more:hover,
.online-crew__more:active {
	box-shadow: 0 0 5px black;
}

.online-crew__list-item:hover .online-crew__name,
.online-crew__list-item:active .online-crew__name {
	color: #390796;
	text-shadow: 0px 0px 1px #390796;
}

.online-crew__img {
	margin-bottom: 10px;
}

.online-crew__img img {
	object-fit: cover;
	height: 95px;
	width: 95px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.online-crew__position {
	font-size: 14px;
	line-height: 1;
	color: #9c9c9c;
}

.online-crew__name {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 10px;
	min-height: 40px;
	transition: all 0.3s ease;
}

.online-crew__more {
	display: inline-block;
	width: 95px;
	height: 95px;
	padding: 1px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.25;
	background: linear-gradient(325deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 100%;
	border: none;
	border-radius: 100%;
	overflow: hidden;
	transition: 0.6s;
	cursor: pointer;
	transition: all 0.3s ease;
}

.online-crew__more span {
	display: inline-block;
	padding: 35px 0;
	width: 100%;
	text-align: center;
	height: 100%;
	color: #333333;
	background-color: #f8f8f8;
	border-radius: 100%;
}

.online-review {
	margin-bottom: 6.1%;
}

.online-review__block {}

.online-review__item {
	padding: 33px 30px;
	background: #ffffff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.online-review__review-all {
	cursor: pointer;
	margin-top: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	color: #df0e77;
}

.online-review__item:last-child {
	margin-bottom: 0;
}

.online-review__title {
	display: flex;
	align-items: center;
}

.online-review__title span {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 0.83;
	margin-right: 28px;
}

.online-review__title a {
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #ffffff;
	padding: 18px 28px;
	background: linear-gradient(143deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 100%;
	border-radius: 100px;
	transition: all 0.5s ease;
}

.online-review__title a:hover,
.online-review__title a:active {
	background-size: 100% 400%;
}

.online-review__title {
	margin-bottom: 40px;
}

.online-review__info {
	display: flex;
}

.online-review__user-pic {
	min-width: 86px;
	min-height: 86px;
	margin-right: 26px;
}

.online-review__user-pic img {
	width: 86px;
	height: 86px;
	border-radius: 50%;
	object-fit: cover;
}

.online-review__user-block {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.online-review__user-name {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.online-review__time {
	font-size: 14px;
	line-height: 1.5;
	color: #9c9c9c;
}

.online-review__review {
	font-size: 14px;
	line-height: 1.79;
}

.online-review__more-block {
	display: flex;
	justify-content: center;
}

.online-review__more {
	margin-top: 20px;
	display: inline-block;
	/* width: 95px;
    height: 95px; */
	padding: 1px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.25;
	background: linear-gradient(325deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 100%;
	border: none;
	border-radius: 100%;
	overflow: hidden;
	transition: 0.6s;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 100px;
}

.online-review__more span {
	font-size: 14px;
	display: inline-block;
	padding: 15px 30px;
	width: 100%;
	text-align: center;
	height: 100%;
	color: #333333;
	background-color: #f8f8f8;
	border-radius: 100%;
	text-transform: uppercase;
	border-radius: 100px;
}

.online-review__button-more {
	display: inline-block;
	line-height: 1.79;
	color: #df0e77;
	background: #fff;
	padding: 0;
	text-shadow: none;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease;
}

.online-review__button-more.readmore-js-collapsed[id^="rmjs"]::before {
	content: none;
}

@media (max-width: 1200px) {
	.online-card__age {
		bottom: -38px;
	}

	.online-card__age.age {
		width: 40px;
		height: 40px;
	}

	.online-card__age.age span {
		padding: 12px 0;
	}

	.online-card__video,
	.online-card__links,
	.online-card__configuration {
		margin-bottom: 20px;
	}

	.online-card__link {
		margin-right: 20px;
	}

	.online-card__link {
		margin-bottom: 10px;
	}

	.online-card__link svg {
		margin-right: 5px;
	}

	.online-crew__name,
	.online-crew__position {
		text-align: center;
	}

	.online-crew__img {
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
	}

	.online-crew__list-item {
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.online-crew {
		margin-bottom: 30px;
	}
}

@media (max-width: 1170px) {

	.online-card__title,
	.online-crew__title {
		font-size: calc(25px + 15 * ((100vw - 320px) / 1170));
	}

	.online-card__rate-digits {
		font-size: calc(40px + 40 * ((100vw - 320px) / 1170));
	}

	.online-review__user-name {
		font-size: calc(12px + 4 * ((100vw - 320px) / 1170));
	}

	.online-review__time {
		font-size: calc(12px + 2 * ((100vw - 320px) / 1170));
	}
}

@media (max-width: 1000px) {
	.online-card__description-item:first-child {
		margin-right: 60px;
	}

	.online-review__item {
		padding: 20px;
	}

	.online-review__user-pic {
		margin-right: 15px;
	}

	.online-review__user-name {
		margin-bottom: 0;
	}

	.online-review__user-block {
		margin-bottom: 6px;
	}
}

@media (max-width: 800px) {

	.online-card__other-title,
	.online-card__short-descr,
	.online-card__persons {
		margin-bottom: 10px;
	}

	.online-card__short-descr span,
	.online-card__name span,
	.online-card__position,
	.online-card__link,
	.online-card__configuration-name,
	.online-card__configuration-value span {
		font-size: 14px;
	}

	.online-card__description-item:first-child,
	.online-card__configuration-item {
		margin-right: 15px;
	}
}

@media (max-width: 600px) {
	.online-card__tech-info {
		display: flex;
	}

	.online-card__links,
	.online-card__configuration {
		flex-direction: column;
		width: 50%;
	}

	.online-card__links {
		justify-content: flex-start;
	}

	.online-card__item {
		flex-direction: column;
	}

	.online-card__configuration-item {
		margin-right: 10px;
		margin-bottom: 5px;
	}

	.online-card__links,
	.online-card__configuration {
		margin-bottom: 0;
	}

	.online-card__configuration-name {
		margin-bottom: 10px;
	}

	.online-crew__list {
		justify-content: space-around;
	}
}

@media (max-width: 500px) {
	.online-card__rate {
		width: 115px;
	}

	.online-review__title {
		margin-bottom: 20px;
	}

	.online-review__item {
		padding: 15px;
	}
}

@media (max-width: 450px) {
	.online-review__info {
		flex-direction: column;
	}
}

@media (max-width: 400px) {
	.online-card__description-item {
		margin-right: 10px;
	}

	.online-card__rate-stars {
		display: none;
	}

	.online-card__rate {
		width: 65px;
	}

	.online-review__title {
		display: flex;
		flex-direction: column;
	}

	.online-review__title span {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.cinema-seo-txt .cinema-catalog__title-group h1 {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 20px;
}

.cinema-catalog__tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.cinema-catalog__tags span {
	font-size: 16px;
	line-height: 1;
	color: #9c9c9c;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
}

.cinema-catalog__tags span:after {
	position: absolute;
	content: ",";
	bottom: -1px;
	right: -3px;
}

.cinema-catalog .text,
.online-card__description .text {
	font-size: 14px;
	padding-top: 0;
}

.cinema-catalog .text li,
.online-card__description .text li {
	font-size: 14px;
}

.cinema-catalog .text p,
.online-card__description .text p {
	font-size: 14px;
	line-height: 1.79;
}

.online-cinema-wrapper .sort {
	background-color: #f8f8f8;
}

.online-catalog {
	margin-bottom: 8.5%;
}

.online-catalog__group.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	grid-auto-flow: dense;
	margin-bottom: 30px;
}

.online-cinema-wrapper .sort {
	padding: 20px 0;
}

.online-sort .trigger-filter,
.online-sort .nice-select {
	background-color: #f8f8f8;
}

.online-sort__custom-new {
	display: inline-block;
	margin: 10px 0;
	margin-right: 34px;
	padding: 1px;
	font-size: 16px;
	line-height: 1;
	background: linear-gradient(0deg, #df0e77 7.13%, #390796 95%);
	background-size: 100% 100%;
	border: none;
	border-radius: 100%;
	overflow: hidden;
	transition: 0.6s;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 10px;
}

.online-cinema-wrapper .sort-list__item {
	margin-right: 34px;
}

.online-sort__custom-new span {
	font-size: 14px;
	display: inline-block;
	padding: 14px 47px;
	width: 100%;
	text-align: center;
	height: 100%;
	color: #333333;
	background-color: #f8f8f8;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.online-sort__custom-new:hover span,
.online-sort__custom-new:active span {
	color: #fff;
	background-color: transparent;
}

.online-sort__custom {
	display: inline-block;
	margin: 10px 0;
	margin-right: 34px;
	line-height: 1;
	background: #f8f8f8;
	overflow: hidden;
	transition: all 0.3s ease;
	border-radius: 10px;
	font-size: 14px;
	border: 1px solid #d7d7d7;
	padding: 14px 20px;
	padding-left: 40px;
	position: relative;
}

.online-sort__custom:last-child {
	margin-right: 0;
}

.online-sort__custom:before {
	position: absolute;
	content: "+";
	top: 50%;
	transform: translate(50%, -50%);
	left: 15px;
}

.online-sort__custom:hover {
	background: #df0e77;
	border: 1px solid #df0e77;
	color: #fff;
}

.online-sort__custom.current {
	background: #df0e77;
	border: 1px solid #df0e77;
	color: #fff;
	padding-left: 20px;
	padding-right: 40px;
}

.online-sort__custom.current:before {
	display: none;
}

.online-sort__custom.current:after {
	position: absolute;
	content: "+";
	right: 18px;
	transform: rotate(45deg);
}

.online-sort__default {
	border: 1px solid #f8f8f8;
	position: relative;
	padding-left: 20px;
}

.online-sort__default:hover {
	background: #f8f8f8;
	border: 1px solid #f8f8f8;
	padding-left: 20px;
	color: #333;
}

.online-sort__default::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translate(50%, -50%);
	left: 0;
	background: url(../img/icon-default.png) no-repeat;
	background-size: contain;
	width: 6px;
	height: 6px;
}

.online-catalog .btn-border,
.online-slider-load .btn-border {
	display: block;
}

.online-slider-load {
	margin-bottom: 5.25%;
}

@media (max-width: 1200px) {

	.online-sort__custom-new,
	.online-cinema-wrapper .sort-list__item,
	.online-sort__custom {
		margin-right: 20px;
	}
}

@media (max-width: 1170px) {
	.cinema-seo-txt .cinema-catalog__title-group h1 {
		font-size: calc(25px + 15 * ((100vw - 320px) / 1170));
	}

	.cinema-catalog__tags span,
	.cinema-seo-txt__block p,
	.cinema-seo-txt__block li {
		font-size: calc(12px + 4 * ((100vw - 320px) / 1170));
	}
}

@media (max-width: 1100px) {
	.online-catalog__group.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 850px) {
	.online-catalog__group.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 800px) {

	.online-sort__custom-new,
	.online-cinema-wrapper .sort-list__item,
	.online-sort__custom {
		margin-right: 10px;
	}

	.online-cinema-wrapper .sort {
		padding: 0;
	}

	.online-breadcrumbs .breadcrumbs {
		margin-bottom: 0;
	}

	.online-cinema-wrapper .btn-border {
		font-size: 12px;
	}

	.online-cinema-wrapper .btn-border span {
		padding: 19px 30px;
	}

	.online-cinema-wrapper .btn-border {
		max-width: 170px;
	}
}

@media (max-width: 650px) {
	.online-catalog__group.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {

	.online-sort__custom-new,
	.online-cinema-wrapper .sort-list__item,
	.online-sort__custom {
		margin: 5px 5px 5px 0;
	}

	.cinema-seo-txt .cinema-catalog__title-group h1 {
		margin-bottom: 10px;
	}

	.cinema-catalog__tags {
		margin-bottom: 5px;
	}
}

@media (max-width: 450px) {
	.online-catalog__group.grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.online-cinema-wrapper .sort-list {
		flex-direction: column;
	}

	.online-cinema-wrapper .trigger-filter,
	.online-cinema-wrapper .nice-select {
		width: 100%;
	}
}

/* online mobile menu */

.online__mmenu-navigation {
	position: fixed;
	top: -100%;
	left: 0;
	background: #fff;
	z-index: 4000;
	transition: all 0.3s ease;
	overflow-x: hidden;
	overflow-y: scroll;
}

.online__mmenu-navigation.open {
	top: 100px;
}

.online__mmenu-item {
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #f5f5f5;
}

.online__mmenu-item:last-child {
	border-bottom: none;
}

.online__mmenu-item a {
	padding: 15px 20px;
}

.online__mmenu-item.current {
	background-color: #df0e77;
}

.online__mmenu-item.current a {
	color: #fff;
}

.online__mmenu a::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	width: 7px;
	height: 7px;
	background-color: #df0e77;
	border-radius: 100%;
}

.online__mmenu .online__mmenu-item.current a::before {
	background-color: #ffffff;
}

@media (max-width: 1350px) {
	.online__mmenu-item {
		padding-left: 20px;
	}
}

.online__mobile-wrapper {
	position: relative;
}

.online__mmenu-sub-list {
	padding: 0px 20px 0px 20px;
}

.online__mmenu-wrap {
	display: none;

	opacity: 0;
	visibility: hidden;

	position: absolute;
	top: 0;
	left: 100%;
	padding: 15px 0;
	min-width: 200px;
	min-height: 100%;
	width: 100%;
	transition: all 0.3s ease;
	z-index: 100;

	background: #ffffff;
}

.online__mmenu-wrap.open {
	opacity: 1;
	visibility: visible;
	left: 0;
}

.online__mmenu-item-group {
	position: relative;
}

.online__mmenu-sub-link {
	display: block;
	transition: all 0.3s ease;
}

.online__mmenu-sub-item {
	white-space: nowrap;
}

.online__mmenu-open-sub {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 30px;
	height: 30px;
}

.online__mmenu-open-sub:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/arrow-more.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 7px;
	height: 10px;
	transition: all 0.3s ease;
}

.online__mmenu-close-sub {
	cursor: pointer;
	display: block;
	position: relative;
	margin: 20px 0 10px 25px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #444;
}

.online__mmenu-close-sub:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	transform: translate(0, -50%) rotate(180deg);
	background-image: url(../img/arrow-more.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 7px;
	height: 10px;
}

@media (max-width: 500px) {
	.mobile-menu-top.online__mmenu-navigation.open-menu {
		top: 85px;

		height: calc(100vh - 85px);
	}
}

.page-navigation__title h1 {
	color: #333;
	text-transform: initial;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 20px;
}

@media (max-width: 1170px) {
	.page-navigation__title h1 {
		font-size: calc(25px + 15 * ((100vw - 320px) / 1170));
	}
}

@media (max-width: 500px) {
	.page-navigation__title h1 {
		margin-bottom: 10px;
	}
}