<section class="section section--dark">
    <div class="wrapper">
        <div class="title-block">
            <div class="title-block__item">
                <div class="main-title main-title--light">
                    Детям
                </div>
            </div>
            <div class="title-block__item">
                <a class="btn-border" href="#">
                    <span>Посмотреть все</span>
                </a>
            </div>
        </div>
        <div class="card-list">
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child1.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child2.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child3.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child4.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child5.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child6.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-list__item">
                <div class="concerts-card concerts-card--light">
                    <a href="#"></a>
                    <div class="concerts-card__img">
                        <img src="img/child7.png" alt="">
                        <div class="concerts-card__price">от 1000 ₽</div>
                    </div>
                    <div class="concerts-card__info">
                        <div class="concerts-card__title">Green Day</div>
                        <div class="concerts-card__dop-info">
                            <div class="concerts-card__place">
                                Стадион "Открытие арена"
                            </div>
                            <div class="concerts-card__date">
                                28 мая, 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
