<header class="page-header">
    <div class="page-header__inner">
        <div class="page-header__item">
          <a href="#menu" class="mobile-menu">
                <span></span>
            </a>
            <div class="logo">
    <a href="#">
        <img src="img/logo.png" alt="">
    </a>
</div>
        </div>
        <div class="page-header__item">
            <div class="search-box">
    <div class="search-box__item">
        <form class="search-form" method="post">
            <input type="hidden" name="action" value="fast-search">
            <input class="query" name="query" type="text" placeholder="Поиск" value="">
            <button class="submit" type="submit"></button>
        </form>
    </div>
</div>
        </div>
        <div class="page-header__item">
            <div class="page-header-actions" data-adaptiv="slide-menu, 1, 1000">
    <div class="page-header-actions-item">
        <a href="#regions" class="your-city js-modal">
            <span class="your-city__mark">
              <svg>
                <use xlink:href="img/sprite.svg#icon-location"></use>
                </svg>
            </span>
            <span class="your-city__name">Москва</span>
            <span class="your-city__arrow">
              <svg>
                <use xlink:href="img/sprite.svg#icon-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
    <div class="page-header-actions-item">
        <a class="magic-btn btn-profile js-profile" href="#float-profile">
            <span class="entrance">
             <svg class="entrance__avatar">
                <use xlink:href="img/sprite.svg#icon-avatar"></use>
                </svg>
              <span>Войти</span>
            <svg class="entrance__arrow">
                <use xlink:href="img/sprite.svg#icon-arrow"></use>
            </svg>

            </span>
        </a>
    </div>
</div>
            <div class="float-profile" id="float-profile">
<div class="user-profile">
    <div class="user-profile__item">
        <div class="user-profile__avatar">
            <div class="avatar">
                <img src="img/man.png" alt="">
                <svg>
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)" />
                    <defs>
                        <linearGradient id="grad2" x1="9.85452" y1="26.7208" x2="23.2808" y2="7.2656" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#DF0E77" />
                            <stop offset="1" stop-color="#390796" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="user-profile__name">
                Иван Иванов
            </div>
        </div>
    </div>
    <div class="user-profile__item">
        <div class="stat-block">
            <div class="stat-block__item">
                <div class="block-grey">
                    <div class="favorite">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-heart"></use>
                            </svg>
                            <span>1325</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="stat-block__item">
                <div class="block-grey">
                    <div class="visited">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-check"></use>
                            </svg>
                            <span>1325</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-profile__item">
        <div class="block-grey-wrapper">
            <div class="block-grey-wrapper__item">
                <div class="btn-border btn-border--light">
                    <span>Выйти</span>
                </div>
            </div>
            <div class="block-grey-wrapper__item">
                <div class="block-grey">
                    <div class="link-profile">
                        <a href="#">Профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-profile__item">
        <div class="block-wrapper">
            <div class="block-wrapper__item">
                <div class="block-grey block-grey--square">
                    <div class="tickets">
                        <a href="#">
                            <svg class="icon-svg-gradient" role="presentation">
                                <defs>
                                    <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#DF0E77" />
                                        <stop offset="1" stop-color="#390796" />
                                    </linearGradient>
                                </defs>
                                <use xlink:href="img/sprite.svg#icon-tickets"></use>
                            </svg>
                            Мои билеты
                        </a>
                    </div>
                </div>
            </div>
            <div class="block-wrapper__item">
                <div class="block-grey block-grey--square">
                    <div class="help">
                        <a href="#">
                            <svg class="icon-svg-gradient" role="presentation">
                                <defs>
                                    <linearGradient id="grad1" x1="23.2808" y1="7.2656" x2="9.85452" y2="26.7208" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#DF0E77" />
                                        <stop offset="1" stop-color="#390796" />
                                    </linearGradient>
                                </defs>
                                <use xlink:href="img/sprite.svg#icon-help"></use>
                            </svg>
                            Справка
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        </div>
    </div>
</header>