<aside class="left-sidebar">
   <nav class="main-navigation">
    <ul class="main-menu">
        <li class="main-menu__item">
            <a href="#">Театр</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Шоу</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Цирк</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Детям</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Фестивали</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Мероприятия</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Кино</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Онлайн</a>
        </li>
    </ul>
</nav>
    <div class="social-block">
        <ul class="social-list">
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--tw" href="#" aria-label="Твиттер" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--fb" href="#" aria-label="Фейсбук" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--vk" href="#" aria-label="Вконтакте" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--inst" href="#" aria-label="Инстаграм" target="_blank"></a>
    </li>
</ul>

    </div>
</aside>