<section class="main-section">
    <div class="main-screen">
        <div class="main-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="main-slider__arrows">
                    <div class="arrow-slider arrow-slider--main">
                        <button class="swiper-button-prev">
                        </button>
                        <button class="swiper-button-next">
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main-slider__img" style="background-image: url('img/hardkiss.jpg')"></div>
                    <div class="main-slider__inner">
                        <div class="main-slider__info">
                            <div class="main-slider__name">
                                <div class="wrapper">
                                    <div class="main-slider__title">
                                        <a href="#">
                                       The Hardkiss
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-slider__container">
                                <div class="wrapper">
                                    <ul class="main-slider__list">
                                        <li class="main-slider__list-item">
                                            <span class="place">
                                              <svg>
                                                <use xlink:href="img/sprite.svg#icon-place"></use>
                                              </svg>
                                               Crocus city hall (Крокус сити холл)  - большой зал
                                             </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <date class="date">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#icon-date"></use>
                                                </svg>
                                                27 ноября <span>20:00</span>
                                            </date>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <span class="price">
                                                      <svg>
                                    <use xlink:href="img/sprite.svg#icon-rub"></use>
                                  </svg>
                                                       2 345 - 6980
                                                     </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main-slider__img" style="background-image: url('img/main-slide.png')"></div>
                    <div class="main-slider__inner">
                        <div class="main-slider__info">
                            <div class="main-slider__name">
                                <div class="wrapper">
                                    <div class="main-slider__title">
                                        <a href="#">
                                        Twenty one pilots
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-slider__container">
                                <div class="wrapper">
                                    <ul class="main-slider__list">
                                        <li class="main-slider__list-item">
                                            <span class="place">
                                              <svg>
                                                <use xlink:href="img/sprite.svg#icon-place"></use>
                                              </svg>
                                               Crocus city hall (Крокус сити холл)  - большой зал
                                             </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <date class="date">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#icon-date"></use>
                                                </svg>
                                                27 ноября <span>20:00</span>
                                            </date>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <span class="price">
                                                      <svg>
                                    <use xlink:href="img/sprite.svg#icon-rub"></use>
                                  </svg>
                                                       2 345 - 6980
                                                     </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main-slider__img" style="background-image: url('img/hurts.jpg')"></div>
                    <div class="main-slider__inner">
                        <div class="main-slider__info">
                            <div class="main-slider__name">
                                <div class="wrapper">
                                    <div class="main-slider__title">
                                        <a href="#">
                                        Hurts
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-slider__container">
                                <div class="wrapper">
                                    <ul class="main-slider__list">
                                        <li class="main-slider__list-item">
                                            <span class="place">
                                              <svg>
                                                <use xlink:href="img/sprite.svg#icon-place"></use>
                                              </svg>
                                               Crocus city hall (Крокус сити холл)  - большой зал
                                             </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <date class="date">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#icon-date"></use>
                                                </svg>
                                                27 ноября <span>20:00</span>
                                            </date>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <span class="price">
                                                      <svg>
                                    <use xlink:href="img/sprite.svg#icon-rub"></use>
                                  </svg>
                                                       2 345 - 6980
                                                     </span>
                                        </li>
                                        <li class="main-slider__list-item">
                                            <a class="btn-gradient" href="#">
                                             Купить билет
                                           </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toggle-menu-wrap js-menu">
    <div class="slide-menu">
        <nav class="main-navigation">
    <ul class="main-menu">
        <li class="main-menu__item">
            <a href="#">Театр</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Шоу</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Цирк</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Детям</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Фестивали</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Мероприятия</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Кино</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Онлайн</a>
        </li>
    </ul>
</nav>
    </div>
    <div class="toggle-menu__btn">
        <button class="toggle-menu" id="toggle-menu">Меню
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>
</section>