<div class="pages-pagination">
    <ul class="pagination-list">
        <li class="pagination-list__item"><span class="pagination-list__start"> </span>
        </li>
        <li class="pagination-list__item active">
            <a href="#">
                <span>1</span>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#">
                <span>2</span>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#">
                <span>3</span>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#">
                <span>4</span>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#">
                <span>5</span>
            </a>
        </li>
        <li class="pagination-list__item"><span  class="pagination-list__finish"></span>
        </li>
    </ul>
</div>