<div class="inner-block">
    <div class="title-block">
        <div class="title-block__item">
            <div class="inner-title">
                Отзывы
            </div>
            <div class="title-block__btn">
                <a class="btn-gradient" href="#">
                  Оставить отзыв
                </a>
            </div>
        </div>
    </div>
    <div class="review-list">
        <div class="review-list__item">
            <div class="review-block">
                <div class="review-block__avatar">
                    <img src="img/rev1.png" alt="">
                </div>
                <div class="review-block__info">
                    <div class="review-block__name">
                        Инна Иванова
                    </div>
                    <div class="review-block__date">
                        13 июля 2020
                    </div>
                    <div class="review-block__descr">
                        Легендарная, культовая группа Nautilus Pompilius (Наутилус Помпилиус) - именно так на протяжении более 30 лет говорят и пишут об этой группе. И пусть группа распалась в 1997 прекрасные тексты Ильи Кормильцева, непревзойденное и своеобразное исполнение Вячеслава Бутусова, саксофон.
                    </div>
                    <div class="review-block__link">
                        <a class="pink-link" href="#">Читать полностью...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-list__item">
            <div class="review-block">
                <div class="review-block__avatar">
                    <img src="img/rev2.png" alt="">
                </div>
                <div class="review-block__info">
                    <div class="review-block__name">
                        Инна Иванова
                    </div>
                    <div class="review-block__date">
                        13 июля 2020
                    </div>
                    <div class="review-block__descr">
                        Легендарная, культовая группа Nautilus Pompilius (Наутилус Помпилиус) - именно так на протяжении более 30 лет говорят и пишут об этой группе. И пусть группа распалась в 1997 прекрасные тексты Ильи Кормильцева, непревзойденное и своеобразное исполнение Вячеслава Бутусова, саксофон.
                    </div>
                    <div class="review-block__link">
                        <a class="pink-link" href="#">Читать полностью...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-list__item">
            <div class="review-block">
                <div class="review-block__avatar">
                    <img src="img/rev3.png" alt="">
                </div>
                <div class="review-block__info">
                    <div class="review-block__name">
                        Инна Иванова
                    </div>
                    <div class="review-block__date">
                        13 июля 2020
                    </div>
                    <div class="review-block__descr">
                        Легендарная, культовая группа Nautilus Pompilius (Наутилус Помпилиус) - именно так на протяжении более 30 лет говорят и пишут об этой группе. И пусть группа распалась в 1997 прекрасные тексты Ильи Кормильцева, непревзойденное и своеобразное исполнение Вячеслава Бутусова, саксофон.
                    </div>
                    <div class="review-block__link">
                        <a class="pink-link" href="#">Читать полностью...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-block">
        <a class="btn-border btn-border--light" href="#">
            <span>Показать еще</span>
        </a>
    </div>
</div>