<section class="section">
    <div class="wrapper">
        <div class="title-block">
            <div class="title-block__item">
                <div class="main-title">
                    Подборки
                </div>
            </div>
            <div class="title-block__item">
                <a class="btn-border btn-border--light" href="#">
                    <span>Посмотреть все</span>
                </a>
            </div>
        </div>
        <div class="set-list">
            <div class="set-list__item">
                <div class="set-card">
                    <a href="#"></a>
                    <div class="set-card__img">
                        <img src="img/set.png" alt="">
                    </div>
                    <div class="set-card__count">
                        9
                    </div>
                    <div class="set-card__title">
                        июльских выставок в Москве, на которые стоит попасть
                    </div>
                    <div class="set-card__date">
                        17 июня
                    </div>
                </div>
            </div>
            <div class="set-list__item">
                <div class="set-card">
                    <a href="#"></a>
                    <div class="set-card__img">
                        <img src="img/set1.png" alt="">
                    </div>
                    <div class="set-card__count">
                        10
                    </div>
                    <div class="set-card__title">
                        московских выставок после карантина (хотя лучше сидеть дома)
                    </div>
                    <div class="set-card__date">
                        17 июня
                    </div>
                </div>
            </div>
            <div class="set-list__item">
                <div class="set-card">
                    <a href="#"></a>
                    <div class="set-card__img">
                        <img src="img/set2.png" alt="">
                    </div>
                    <div class="set-card__count">
                        10
                    </div>
                    <div class="set-card__title">
                        московских выставок после карантина (хотя лучше сидеть дома)
                    </div>
                    <div class="set-card__date">
                        17 июня
                    </div>
                </div>
            </div>
            <div class="set-list__item">
                <div class="set-card">
                    <a href="#"></a>
                    <div class="set-card__img">
                        <img src="img/set3.png" alt="">
                    </div>
                    <div class="set-card__count">
                        9
                    </div>
                    <div class="set-card__title">
                        новых книг о музыке на карантин
                    </div>
                    <div class="set-card__date">
                        17 июня
                    </div>
                </div>
            </div>
            <div class="set-list__item">
                <div class="set-card">
                    <a href="#"></a>
                    <div class="set-card__img">
                        <img src="img/set4.png" alt="">
                    </div>
                    <div class="set-card__count">
                        10
                    </div>
                    <div class="set-card__title">
                        московских выставок после карантина (хотя лучше сидеть дома)
                    </div>
                    <div class="set-card__date">
                        17 июня
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>