<section class="section section--events">
    <div class="main-title main-title--light main-title--center">
        Афиша Москвы 2020-2021
    </div>
    <div class="slider-events-wrapper">
        <div class="slider-events swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto.png">
                                    <div class="event-card__img-sticker">
                                        <span>Концерты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto1.png">
                                    <div class="event-card__img-sticker">
                                        <span>Мероприятия</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto3.png">
                                    <div class="event-card__img-sticker">
                                        <span>Шоу</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto4.png">
                                    <div class="event-card__img-sticker">
                                        <span>Фестивали</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto1.png">
                                    <div class="event-card__img-sticker">
                                        <span>Цирк</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto.png">
                                    <div class="event-card__img-sticker">
                                        <span>Концерты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto.png">
                                    <div class="event-card__img-sticker">
                                        <span>Концерты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="event-card">
                        <div class="event-card__back">
                            <a class="btn-border" href="#">
                                <span>Показать</span>
                            </a>
                        </div>
                        <div class="event-card__front">
                            <div class="event-card__wrapper">
                                <div class="event-card__img">
                                    <img src="img/slide-foto.png">
                                    <div class="event-card__img-sticker">
                                        <span>Концерты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-wrapper arrow-wrapper--center">
        <div class="arrow-slider arrow-slider--events">
            <button class="swiper-button-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="swiper-button-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>