<div class="ticket">
    <ul class="ticket__list">
        <li class="ticket__list-item">
            <div class="ticket__list-btn">
                <a href="#">Касса 1</a>
            </div>
        </li>
        <li class="ticket__list-item">
            <div class="ticket__list-btn">
                <a href="#">Касса 2</a>
            </div>
        </li>
        <li class="ticket__list-item">
            <div class="ticket__list-btn">
                <a href="#">Касса 3</a>
            </div>
        </li>
        <li class="ticket__list-item">
            <div class="ticket__list-btn">
                <a href="#">Касса 4</a>
            </div>
        </li>
    </ul>
</div>