    <div class="timing">
        <div class="timing__item">
            <div class="timing-table">
                <div class="timing-table__row">
                    <div class="timing-table__row-item">
                        <span class="timing-table__name">Рок</span>
                        <span class="timing-table__source">
     <a href="#">
       Nautilus pompilius
     </a>
   </span>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="timing-date">
                            <div class="timing-date__item">
                                <div class="timing-date__item-number">
                                    17
                                </div>
                            </div>
                            <div class="timing-date__item">
                                <div class="timing-date__item-day">Понедельник</div>
                                <div class="timing-date__item-month">Сентябрь</div>
                            </div>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="location">
                            <a href="#">
               Москва
                <span>
                      CROCUS CITY HALL
     </span>
              </a>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <a class="btn-grey" href="#">
                                             от 1000 ₽
                                           </a>
                    </div>
                </div>
                <div class="timing-table__row">
                    <div class="timing-table__row-item">
                        <span class="timing-table__name">Рок</span>
                        <span class="timing-table__source">
     <a href="#">
       Nautilus pompilius
     </a>
   </span>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="timing-date">
                            <div class="timing-date__item">
                                <div class="timing-date__item-number">
                                    17
                                </div>
                            </div>
                            <div class="timing-date__item">
                                <div class="timing-date__item-day">Понедельник</div>
                                <div class="timing-date__item-month">Сентябрь</div>
                            </div>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="location">
                            <a href="#">
               Москва
                <span>
                      CROCUS CITY HALL
     </span>
              </a>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <a class="btn-grey" href="#">
                                             от 1000 ₽
                                           </a>
                    </div>
                </div>
                <div class="timing-table__row">
                    <div class="timing-table__row-item">
                        <span class="timing-table__name">Рок</span>
                        <span class="timing-table__source">
     <a href="#">
       Nautilus pompilius
     </a>
   </span>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="timing-date">
                            <div class="timing-date__item">
                                <div class="timing-date__item-number">
                                    17
                                </div>
                            </div>
                            <div class="timing-date__item">
                                <div class="timing-date__item-day">Понедельник</div>
                                <div class="timing-date__item-month">Сентябрь</div>
                            </div>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <div class="location">
                            <a href="#">
               Москва
                <span>
                      CROCUS CITY HALL
     </span>
              </a>
                        </div>
                    </div>
                    <div class="timing-table__row-item">
                        <a class="btn-grey" href="#">
                                             от 1000 ₽
                                           </a>
                    </div>
                </div>
                <div class="timing-table__row">
                    <a class="link-more" href="#">Все выступления</a>
                </div>
            </div>
        </div>
        <div class="timing__item">
            <div class="timing-info">
                <div class="timing-info__item">
                    <div class="timing-info__img">
                        <svg>
                            <use xlink:href="img/sprite.svg#icon-ticket"></use>
                        </svg>
                    </div>
                    <div class="timing-info__info">
                        <div class="timing-info__title">
                            Актульность в онлайн
                        </div>
                        <div class="timing-info__descr">
                            Мы подключены к билетной базе организатора и предлагаем все официально доступные билеты на концерт
                        </div>
                    </div>
                </div>
                <div class="timing-info__item">
                    <div class="timing-info__img">
                        <svg>
                            <use xlink:href="img/sprite.svg#icon-wallet"></use>
                        </svg>
                    </div>
                    <div class="timing-info__info">
                        <div class="timing-info__title">
                            Купить лучше заранее
                        </div>
                        <div class="timing-info__descr">
                            Цены на билеты ближе к дате концерта могут вырасти, а наиболее востребованные места — закончиться.
                        </div>
                    </div>
                </div>
                <div class="timing-info__item">
                    <div class="timing-info__img">
                        <svg>
                            <use xlink:href="img/sprite.svg#icon-cach"></use>
                        </svg>
                    </div>
                    <div class="timing-info__info">
                        <div class="timing-info__title">
                            Без переплаты
                        </div>
                        <div class="timing-info__descr">
                            Цены на билеты BILOOK - как в кассах без лишней наценки, комиссий и прочих сборов.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
