<div class="toggle-menu-wrap js-menu">
    <div class="slide-menu">
        <nav class="main-navigation">
    <ul class="main-menu">
        <li class="main-menu__item">
            <a href="#">Театр</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Шоу</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Цирк</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Детям</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Фестивали</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Мероприятия</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Кино</a>
        </li>
        <li class="main-menu__item">
            <a href="#">Онлайн</a>
        </li>
    </ul>
</nav>
    </div>
    <div class="toggle-menu__btn">
        <button class="toggle-menu" id="toggle-menu">Меню
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>